*{
    margin: 0px;
    padding: 0px;
}
.test{
    color: blue;
    cursor: url="https://images.unsplash.com/photo-1688355791542-3bc6eb957fe9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=469&q=80",auto;
}

.box{
    
    background-color: red;
    width: 110px;
    padding: 20px;
    height:  110px;
}
.box2{
    background-color: blue;
    width: 110px;
    padding: 20px;
    height:  110px;

}
.box3{
    background-color: black;
    width: 110px;
    padding: 20px;
    height:  110px;
    

}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    border: 1px solid gray;


}